.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 36px;
}

.icon {
    margin-right: 10px;
    cursor: pointer;
}

.item-content {
    display: flex;
    align-items: center;
    margin-right: 16px;
    width: 100%;
    min-width: 200px;
}

.action-buttons {
    display: flex;
}

.completed-color {
    /* color: #0B0426; */
    color: #FC5000;
    /* color: #EAC6FB; */
    /* color: rgba(255, 255, 255, 0.87); */
}

textarea {
    resize: none;
    height: auto;
    width: 100%;
}

/* For PC screens */
@media (min-width: 769px) {
    .item-content {
        display: flex;
        align-items: center;
        margin-right: 16px;
        width: 100%;
        min-width: 600px;
    }
}